:root {
	--negro: #000000ff;
	--oscuro: #1c1c1f;
	--blanco: white; 
	--app-grey: #F2F2F2;
	--azul: #3333ffff;
	--azul-hover: rgb(40, 40, 197);
	
	--verde: #00cc7ed7;
	--verde-hover: rgb(65, 212, 77);
	--rosa: #ff76e2ff;
	--lila: #8a6df1ff;
	--laranja: #ff7059ff;
	--amarelo: #ffc51aff;

	--aqua: aqua;

	--fuente: 'Signika Negative', sans-serif;
    --fuente2: 'PT Sans Narrow', sans-serif;    
	--fuente3: 'Indie Flower', cursive;
  }
  
  * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	vertical-align: baseline;
	
  }

  
  h2{
	font-family: var(--fuente);
    font-weight: 700;
	font-size: 3rem;
  }
  p {
	font-family: var(--fuente);
    font-weight: 400;
  }
  h3 {
	font-family: 'Montserrat', sans-serif;
  }
  
  body {
	
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    font-size: 100%;
    min-height: 100vh;
    
    color: var(--blanco);
    font-smoot: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    
  }
 
html {

    scroll-behavior: smooth;
}

body {
	margin: 0;
    padding: 0;

    background-image: url('../assets/cancha.webp'); /* hacerle un efecto, que cuando pase el mouse se agrande */
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	
    /* capa sobre fondo */
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .6);
    
    
}

header {
    
	width: 100%;
    min-height: 5em;
    
    padding: 5em 2em;

}


.nav {
    
    padding: 1px;
	max-width: 100%;

	display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.nav-menu{
       
    margin-top: 1em;
    
    padding: 1em;
    
    display: flex;    
    flex-direction: column;    
    justify-content: space-between;
    align-items: center;

    opacity: 0.4;

}

.nav-menu .ul{
    
    list-style: none;

    display: flex;
    flex-direction: column;
    
    align-items: center;    
    
}

.nav-menu .ul .li {
            
    /*corregir que no salga de su contenedor*/
    position: relative;   

}

.li-inicio {
    
    
    /*corregir que no salga de su contenedor*/
    position: relative;   

}

.nav-menu .a {
    
    /*quiero que al achicar la pantalla los a no se salgan de pantalla*/
    display: block;
    
    font-family: var(--fuente3);
    /*quiero la fuenta en mayuscula*/
    text-transform: uppercase;

    color: var(--blanco);
    font-size: 1.5em;
    line-height: 1.2;
    text-decoration: none;
    
    margin: 0.5em 0;
    
    transition: transform 0.5s ease;   
}

.ul-submenu .a{
    width: 100%;

    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 1em;
    line-height: 1.5em;
    transition: transform 0.5s ease;
    
  }

.ul-submenu {

    display: none;
  }
  
  .li-inicio:hover .ul-submenu {
    display: block;
    position: absolute;            
    border-radius: 1em;
    padding-left: 1em;
  }

  /*quiero que el texto en a cuando pongo el mouse se agrande apenas un poco de tamaño*/    
    .nav-menu .a:hover{
        transform: scale(1.1);
    }
        
    .nav-menu .a:hover .ul-submenu .a{
        transform: scale(1.1);
    }
    
.nav .logo {   

	max-width: 100%;
    height: 160px;
    width: 60%;

    padding: 2em 0em;

    background-image: url('../assets/logo3.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

	/*transition: all 2s ease-in-out;*/
    transition: transform 0.5s ease;
    z-index: 2;
}

.logo:hover {
	cursor: pointer;    
    transform: scale(1.1);
    /*quiero una transformacion mas suave del logo*/
    transition: all 2s ease-in-out;

}

.nav .user-info {
    background-color: var(--oscuro);
    height: 100px;
    width: 444px;

    display: flex;

    align-items: center;
    justify-content: space-around;
}

.nav .user-info span {
    
    font-size: 1rem;
    font-weight: 400;
    margin-left: 1rem;

    text-align: center;
    width: 140px;
}

.nav .user-info .user-image {

    height: 2rem;
    width: 2rem;
    
    background-image: url('../assets/user.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50vh;
    margin-left: .5rem;
}

.nav .user-info button {

    background-color: var(--laranja);
    color: var(--blanco);
    /*padding: .5rem 1rem;*/
    padding: 8px 28px;
    margin-left: 1rem;
    border-radius: .3rem;
    font-size: .8rem;
    font-weight: 400;

    width: 148px;
}


.main {

	
	min-height: 100vh;
    position: relative;    

	overflow: hidden;
	padding: 10px;
}

/*
.main-h1 {
    position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

	font-size: 10.5rem;
    font-weight: 400;
    	
    color: var(--blanco);

	animation: moverElemento 10s infinite linear;
}
*/

.main .p{
    font-family: var(--fuente3);
    font-size: 1.5rem;
    font-weight: 400;
    /*mas espaciado entre renglones*/
    line-height: 2em;
    /*mas espaciado entre letras*/
    letter-spacing: 1px;
    color: var(--blanco);
    margin-top: 1em;
    margin-left:7.5em;
    margin-right:7.5em;
}

.main .p-acerca{
    font-family: var(--fuente3);
    font-size: 1.5rem;
    font-weight: 400;
    /*mas espaciado entre renglones*/
    line-height: 2em;
    /*mas espaciado entre letras*/
    letter-spacing: 1px;
    color: var(--blanco);
   
    margin-top: 1em;
    padding: 1em 7.5em; /* Agregar espaciado vertical y horizontal */
}

.seccion-img-institucional {    
    width: 100%;
    display: flex;    
    justify-content: center;    
    margin-top: 8em;
}

.seccion-img-institucional .contenedor-img-institucional{
    
    display: flex;    
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;

    min-width: 5vh;
}

.seccion-img-institucional .img{
    /*flex-basis: calc(25% - 1em);*/
    
    height: 10em;
    margin: 0.5em 1em;

    object-fit: cover;
}


.seccion-directiva{
    
}
.h2-comision{  

    display: flex;
    justify-content: center;

    font-family: var(--fuente3);
    font-size: 2em;         
    font-weight: 700;
    /*quiero este texto en mayuscula*/
    text-transform: uppercase;

    margin-top: 2em;
}

.contenedor-directiva{
    display: flex;
    flex-wrap: wrap;
    max-height: 20em;
    justify-content: center;
}

.directiva-item{
    
    flex: 0 0 8em;    
    text-align: center;
    margin: 1em;
}

.directiva-item .img{
 display: flex;
 flex-wrap: wrap;
    max-width: 100%;
    max-height: 100%;     
}
.puesto, .nombre{
    
    font-family: var(--fuente3);
    font-size: 1.2rem;         
    margin: 0.5em 0;
}
.puesto{
    font-size: 1em;         
    font-weight: 700;
    /*quiero este texto en mayuscula*/
    text-transform: uppercase;
}

.footer {
    position: relative;   
    background-color: var(--oscuro);
    
    opacity: 0.6;

    font-family: "Open Sans";
    padding-top: 40px;
    color: var(--blanco);

}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
}

.ingresarA {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: var(--blanco);
}

.socials a i {
    font-size: 1.7rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color:var(--aqua);
}

.footer-bottom {
    background-color: var(--negro);
    width: auto;
    padding: 20px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 0.8em;    

}

.footer-bottom a {
    font-size: 1em;
    word-spacing: 0.5em;
    text-transform: capitalize;
	text-decoration: none;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: .9;
	color: var(--blanco);
    
}

.footer-bottom a:hover span{
	color:var(--aqua);
}


@media (min-width: 768px) {
   
  
    .nav-menu .ul {
      flex-direction: row; /* Mostrar en fila en pantallas grandes */      
    }
  
    .nav-menu .a {
      margin: 0 1em; /* Ajustar el margen horizontal en pantallas grandes */
    }
  
    .ul-submenu {
      display: none; /* Ocultar el submenú en pantallas grandes */
    }
  }

  @media (max-width: 900px) {
    .seccion-img-institucional .img {
      flex-basis: calc(50% - 1em);
    }
  }